= form_for @office do |f|
  - if @office.errors.any?
    #error_explanation
      %h2= "#{pluralize(@office.errors.count, "error")} prohibited this office from being saved:"
      %ul
        - @office.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :time_zone
    = f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones)
  
  .actions
    = f.submit 'Save'
