- content_for :head do
  :javascript
    Bespeak.CourseTypes = #{ render(template: 'course_types/index.json.rabl', formats: [:json], handlers: [:rabl]) };
    Bespeak.Offices = #{ render(template: 'offices/index.json.rabl', formats: [:json], handlers: [:rabl]) };

#form
  %section.intro.row-fluid
    %header
      .progress
        .bar.bar-success.active{:style => "width:34%;"} Select Date
        .bar{:style => "width: 33%;"} Select Course
        .bar{:style => "width: 33%;"} Review & Submit
        
    = render partial: 'select_date'
    = render partial: 'select_course'
    = render partial: 'pay_cash'
    = render partial: 'pay_credit_card'
    = render partial: 'pay_coupon'